SSM::set ControlPackage::OutgoingSequence/handle false
SSM::set ControlPackage::OutgoingSequence/gears_locked_down false
SSM::set ControlPackage::OutgoingSequence/doors_closed false
SSM::set ControlPackage::OutgoingSequence/doors_open false
SSM::cycle 1
SSM::set ControlPackage::OutgoingSequence/handle false
SSM::set ControlPackage::OutgoingSequence/gears_locked_down true
SSM::set ControlPackage::OutgoingSequence/doors_closed true
SSM::set ControlPackage::OutgoingSequence/doors_open false
SSM::cycle 1
SSM::set ControlPackage::OutgoingSequence/handle true
SSM::set ControlPackage::OutgoingSequence/gears_locked_down true
SSM::set ControlPackage::OutgoingSequence/doors_closed true
SSM::set ControlPackage::OutgoingSequence/doors_open false
SSM::cycle 2
SSM::set ControlPackage::OutgoingSequence/handle false
SSM::set ControlPackage::OutgoingSequence/gears_locked_down true
SSM::set ControlPackage::OutgoingSequence/doors_closed true
SSM::set ControlPackage::OutgoingSequence/doors_open false
SSM::cycle 1
