### Requirement R12 testing scenario ###

SSM::set ControlPackage::RetractionSequence/handle true      # Command handle is pushed UP
SSM::cycle 150                                                # Wait for 15 s

# Output validation is done using the simulation output file
SSM::check ControlPackage::RetractionSequence/gears_retracted true
SSM::check ControlPackage::RetractionSequence/doors_closed true
