### Define ControlePackage::OutgoingSequence scenario ###

SSM::set ControlPackage::RetractionSequence/handle true
SSM::cycle 10
SSM::set ControlPackage::RetractionSequence/gears_locked_down true
SSM::set ControlPackage::RetractionSequence/doors_closed true
SSM::set ControlPackage::RetractionSequence/handle true
SSM::cycle 30
SSM::set ControlPackage::RetractionSequence/handle false

SSM::cycle 40
SSM::check ControlPackage::RetractionSequence/general_EV false
